{% extends 'index.html' %} {% load static %} {% block content%}
{% comment "Tutorial Beschreibung" %}
    Alle Seiten sollen ja in diesem Tutorial immer die gleiche Kopf- und Fußzeile
    enthalten. Dies wird mit dem Django tag extends bereitgestellt.
    Im Django tag block content wird in diesem Bereich dieser Block in den content
    Bereich der index.html Datei hineingeladen.
    {% extends 'index.html' %}:     spezifiziert das Eltern Template, in diesem Fall unsere index.html
    {% load static %}:              Lädt Templates Tags von anderen Librarys, hier aus der settings.py die Variable static
    {% block endblock %}:           spezifiziert den Contentbereich. Es gibt ein Block-Anfang {% block <name> %} und Block-Ende {% endblock %}
{% endcomment %}



    {% for post in posts %}
    <article class="post">
        {% if user.is_authenticated %}
            <div class="div-btn-rechts">
                <a href="{% url 'post_update' post.pk %}" class="btn-blog">Bearbeiten</a>
                <a href="{% url 'post_delete' post.pk %}" class="btn-post-danger">Löschen</a>
                <a href="{% url 'post_list' %}" class="btn-blog">Zurück zur Liste</a>
            </div>
        {% endif %}
        <h2 class="home-h2 d-flex justify-content-center">{{ post.title }}</h2>
        <article class="post-content">{{ post.content|safe }}</article>
        <hr />

    </article>
    {% endfor %}

{% endblock content %}

