{% load static %}
{% comment "Tutorial Beschreibung" %}
    {% load static %}:  Lädt Templates Tags von anderen Librarys, hier aus der settings.py die Variable static,
                        um statische Dateien, wie z. B. Logo, Bilder, CSS, JavaScript zur Verfügung zu stellen.
                        Diese werden aus dem Verzeichnis static, das in der settings.py Datei definiert wird geladen.
    {% if elif else endif %}:   Wertet eine Variable aus und wenn zutreffend, also True, dann wird der Inhalt 
                                abgearbeitet.
     
{% endcomment %}

<nav class="navbar navbar-expand-lg bg-light header-top " >
    <div class="container-fluid">
        <!--
            Hier wird in der Menuleiste ein Logo angezeigt, und wie man es von anderen Webseiten kennt,
            beim Klick auf das Logo auf die HomePage geleitet.
        -->
        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'bilder/logo.png' %}" width="250" alt="" /></a>

        <!--
            Auf kleinen Bildschirmern, wie z. B. Smartphones wird die Navigation zu einem sogenannte Hamburger Menu
        -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Ein erster Menupunkt in der Navigationsleiste namens "Home" -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <!-- im href wird aus dem Django Menu die View aufgerufen, die in der urls.py mit den
                  Namen home definiert wurde. In der View wird dann die HTML Datei aufgerufen. -->
              <li class="nav-item"><a class="nav-link"  href="{% url 'home' %}">Home</a></li>
              <li class="nav-item"><a class="nav-link"  href="{% url 'post_list' %}">Beiträge</a></li>
              <li class="nav-item"><a class="nav-link"  href="{% url 'impressum' %}">Impressum</a></li>
          </ul>
          <!-- Login Formular um Registrierte Benutzer weitere Berechtigungen zu geben -->
          <form class="d-flex">
            <div class="user-panel border rounded-3 p-2 ">
              {% if request.user.is_authenticated %}
                Guten Tag: {{request.user|title}} <br />
                <a class="btn-blog" href="{% url 'logout' %}">Ausloggen</a>
              {% else %}
                Du bist nicht angemeldet!<br />
                <a class="btn-blog" href="{% url 'login' %}">Einloggen</a>
                <a class="btn-blog" href="{% url 'reg' %}">Registrieren</a>
              {% endif %}
              </div>
          </form>
        </div>
    </div>
  </nav>    
