{% extends 'index.html' %} {% load static %} {% block content%}
{% comment "Tutorial Beschreibung" %}
    <articel>           Inhalte im HTML Dokument, die zusammengehören. Jeder post gruppieren wir in jenen
    <h1> bis <h6>       definieren die Überschriften. Man sollte darauf achten, dass die in einer Seite zweckst Google-SEO 
                        hierachisch aufgebaut sind
                        
    {{ post.published_date|date:"d. F Y h:m T" }}   Formatiert das Datenbank Datum in ein deutsche Format. Siehe hierzu auch
                                                    https://docs.djangoproject.com/en/4.0/ref/templates/builtins/#date
    {{ post.text|linebreaksbr|truncatechars:350 }}  gibt den Text des Postes aus. 
                                                    linebreaksbr:       formatiert die Umbrüche in das Html Tag <br>
                                                    truncatechars:350:  werden nur die ersten 350 Zeichen angezeigt.
    {{ post.title }}    gibt den Titel des Postes aus
{% endcomment %}


    <h2 class="post-h2">Hier die aktuellen Beiträge:</h2>
    {% if user.is_authenticated %}
        <div class="container div-center">
            <a href="{% url 'post_create' %}" class="btn-blog">Neuen Beitrag hinzufügen</a>
        </div>
    {% endif %}
    
    {% for post in posts %}
        <article class="post">
            <div class="post-container-header">
                <a href="{% url 'post_detail' post.pk %}" class="post-link-detail">{{ post.title }}</a>
                <div>
                    {% if user.is_authenticated %}
                    <div class="div-btn-rechts">
                        <a href="{% url 'post_update' post.pk %}" class="btn-blog">Bearbeiten</a>
                    </div>
                    {% endif  %}
                    
                    <strong>veröffentlicht am: </strong>{{ post.published_date|date:"d. F Y h:m" }}
                </div>
            </div>
            <div class="post-content">{{ post.content|safe|truncatechars:350 }}</div>
        </article>
    {% endfor %}
{% endblock %} 